env/*
*.sqlite3
.ipynb_checkpoints/PassiveAggressiveClassifier-checkpoint.ipynb
.ipynb_checkpoints/PassiveAggressiveClassifier-MalayDataset-checkpoint.ipynb
.vscode/*
__pycache__/*
templates/login-ori.html
templates/login.html
templates/register.html
templates/history.html
PassiveAggressiveClassifier.ipynb
db_config.py
ClassifierModel.sav
TfidfVectorizer.sav
requirements-new.txt
requirements-old.txt