<!-- <nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MyFlaskApp</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/articles">Articles</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if session.logged_in %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('history') }}">History</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{{url_for('logout') }}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('register') }}">Register</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{{url_for('login') }}">Login</a>
          </li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="{{url_for('main')}}"><img src="{{ url_for('static', filename='assets/logo-v2.png') }}" alt="" height="70px" width="127px"></a>
  
  <!-- <a class="navbar-brand" href="{{url_for('main')}}">Fake News Detector App</a> -->
  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="{{url_for('main')}}">Home</a>
      </li>
      {% if session.logged_in %}
          <!-- <li class="nav-item">
              <a class="nav-link" href="{{url_for('history') }}">History</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{{url_for('logout') }}">Logout</a>
          </li> -->
      {% else %}
          <!-- <li class="nav-item">
            <a class="nav-link" href="{{url_for('login') }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('register') }}">Register</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="{{url_for('main') }}">Quit</a>
          </li> -->
      {% endif %}
    </ul>
  </div>
</nav>