<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>History - Fake News Detector App</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  
</head>

<body>
  {% include 'includes/_navbar.html' %}

  <section>
    <div class="jumbotron">
      <div class="container">
        <h1 class="page-title">History</h1>
        <div class="line-break"></div>
      </div>
    </div>
  </section>

  <div class="container">
    <!-- <h2>Welcome to your history</h2>
 
    <h3>Hi {{ session.username }}</h3>
     
    <a href="{{ url_for('logout')}}">Logout Here</a> -->
    {% include 'includes/_messages.html' %}
    {% if record %}
      <table class="table">
        <thead class="thead-dark" style="background-color: rgb(18, 196, 124);">
          <tr>
            <th scope="col" class="align-middle">No.</th>
            <th scope="col" class="align-middle">History URL</th>
            <th scope="col" class="align-middle">History Label</th>
            <th scope="col" class="align-middle">Checked Date</th>
          </tr>
        </thead>
        <tbody>
          {% for his in history %}
            <tr>
              <th scope="row">{{ his.historyID }}</th>
              <td><a href="{{ his.historyURL }}">{{ his.historyURL }}</a></td>
              <td>{{ his.historyLabel }}</td>
              <td>{{ his.historyDate }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <h3>History Not Found</h3>
    {% endif %}
  </div>

    
  {% include 'includes/_footer.html' %}
</body>
</html>