<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fake News Detector App - CheckThis</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='assets/square-favicon.png') }}" />
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/8aed77151e.js" crossorigin="anonymous"></script> <!--  Font Awesome -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  
</head>

<body>

  {% include 'includes/_navbar.html' %}
  <section>
    <div class="jumbotron" style="margin-bottom: 0;">
      <div class="container">
        <div class="title">
          <h1 class="home-title" style="text-align: center; padding-bottom: 2rem;">Fake News Detector</h1>
          <div class="line-break"></div>
        </div>
          <!-- Main Input For Receiving Query to our ML -->
          <div class="container" style="margin-top: 3rem;">
            <form action="{{ url_for('predict')}}"method="POST">
              <div class="row">
                <div class="input-group input-group-lg mb-3 rounded-circle">
                  <input class="form-control url-box" type="text" name="news" placeholder="Enter the news url" required="required"/>
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-primary btn-block btn-large predict-btn">Check</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
      </div>
    </div>
    <div class="container-fluid" style="padding: 0">
      {% include 'includes/_messages.html' %}
    </div>
    <div class="container text-center" style="margin-top: 2rem;margin-bottom: 2rem;">
      <div class="card news-card">
        <div class="card-title">
          <h3>Top News Today</h3><br>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <p>
                  <a href="{{l2[0]}}"> {{ l1[0]}} </a><br><br>
                    <a href="{{l2[1]}}"> {{l1[1] }} </a><br><br>
                    <a href="{{l2[2]}}"> {{l1[2] }} </a><br><br>
                    <a href="{{l2[3]}}"> {{l1[3] }} </a><br><br>
                  
                  </p>
              </div>
              <div class="col-md-6">
                <p>
                    <a href="{{l2[4]}}">{{ l1[4] }} </a><br>    <br>  
                    <a href="{{l2[5]}}"> {{l1[5] }} </a><br><br>
                    <a href="{{l2[6]}}"> {{l1[6] }} </a><br><br>
                    <a href="{{l2[7]}}">{{ l1[7] }} </a><br>    <br>  
                  
                  </p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  

 <!-- <div style="margin: 0 auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" align="center">
	
   

 </div> -->
 <!-- {% include 'includes/_footer.html' %} -->

</body>
</html>